@import "styles/_variables.scss";

html,
body {
  height: 100%;
}

.dashboard-wrapper {
  background-color: $ui-3;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  width: 76%;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    width: calc(100% - 24rem);
    min-width: 0;
  }

  #wrapper.toggled #sidebar {
    margin-left: -15rem;
  }
}
