.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  order: -1;

  @apply w-16;
}

.sidebar--expanded {
  @apply w-48;
}

.sidebar--primary {
  @apply bg-kale-600;
}

.sidebar__item {
  @apply text-white;
  @apply text-opacity-60;
  @apply py-4;
  @apply px-3;
  @apply hover:text-white;
  @apply hover:bg-kale-700;

  min-height: 52px;
  display: flex;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  background: transparent;
  font-size: inherit;
  order: 0;
  border: none;
}

.sidebar__item--isCurrent {
  @apply bg-white;
  @apply bg-opacity-25;
  @apply text-opacity-100;
  @apply hover:bg-white;
  @apply hover:bg-opacity-25;
}

.sidebar__item__text {
  position: absolute;
  order: 1;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-align: start;
}

.sidebar--expanded .sidebar__item {
  justify-content: start;
}

.sidebar--expanded .sidebar__item__text {
  position: static;
  flex: 1 1 0%;
  clip: auto;
  width: auto;
  height: auto;
  text-overflow: ellipsis;
}

.sidebar--expanded .sidebar__item--hasLogo,
.sidebar__item {
  justify-content: center;
}