.CheckboxRound {
  @apply relative w-6 h-6;
}

.CheckboxRound label {
  @apply bg-white border h-6 w-6 rounded-full cursor-pointer absolute left-0 top-0;
}

.CheckboxRound label:after {
  content: "";
  @apply border-2 w-3 h-2 border-white border-t-0 border-r-0 absolute;
  left: 4px;
  top: 4px;
  opacity: 0;
  transform: rotate(-45deg);
}

.CheckboxRound input[type="checkbox"] {
  visibility: hidden;
}

.CheckboxRound input[type="checkbox"]:checked + label {
  @apply bg-brand-primary border-brand-primary;
}

.CheckboxRound input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
