@import "styles/_variables";

.CheckboxRound {
  position: relative;
  width: 24px;
  height: 24px;
}

.CheckboxRound label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.CheckboxRound label:after {
  border: 2px solid $primary;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.CheckboxRound input[type="checkbox"] {
  visibility: hidden;
}

.CheckboxRound input[type="checkbox"]:checked + label {
  background-color: $secondary;
  border-color: $secondary;
}

.CheckboxRound input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
