@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";

@import "styles/_variables";

.Steps__Wrapper {
  width: inherit;
}

.Steps {
  position: relative;
  display: flex;
  padding: 0;
  list-style: none;
  width: inherit;
}

.Step {
  position: relative;
  font-size: 12px;
  flex: 1;
}

.Step {
  &::before {
    content: "";
    width: 100%;
    height: 8px;
    background-color: #ccc;
    position: absolute;
  }

  &__Milestone {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid $ui-4;
    position: relative;
    bottom: 10px;
    position: relative;
  }

  &__Current {
  }

  &__Label {
  }
}

.Step__Current {
  .Step__Milestone {
    background: $secondary;
    color: $primary;
    border-color: $secondary;
  }
}

.Step__Last::before {
  content: "";
  display: none;
}
