@import "styles/_variables";

.CheckboxCard {
  position: relative;
  border: 3px solid $ui-3;
  border-radius: 4px;
  cursor: pointer;

  &__checked {
    border-color: rgba($primary, 0.3);
  }
}

.CheckboxCard__active {
  border-color: rebeccapurple;
}
